---
import site from '@data/site.json';
import '../styles/style.scss';
import AlertItem from '@components/blocks/AlertItem.astro';

export interface Props {
    headerType?: string;
    title?: string;
	lang?: string;
    bodyClass?: string;
    mainClass?: string;
    fixedHeader: boolean;
    isAlert?: boolean;
}

const {
    headerType,
    title,
    lang = 'ru',
    bodyClass,
    mainClass,
    fixedHeader = false,
    isAlert = false,
} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{site.name} - {title}</title>
		<meta name="description" content="Описание страницы" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

        <link href="https://funpay.com/694/css/main.css" rel="stylesheet" media="all">
    </head>
	<body class={bodyClass ? bodyClass : ''}>
		<div class="wrapper">
			<main class={(mainClass ? mainClass : '') + ' main'}>
				<slot />
			</main>
		</div>

        <slot name="modals"></slot>

        <script src="../scripts/app.js"></script>
	</body>
</html>
