---
import site from "@data/site.json";
import Layout from "@layouts/LayoutEmpty.astro";
const list = site.pages;
---

<Layout>
  <div class="container">
    <div class="site-pages">
      <h1 class="site-pages__title">{site.name}</h1>
      <div class="site-pages__table">
        <div class="site-pages__head">
            <div>Страница</div>
            <div>Статус</div>
        </div>
        {
          list.map((item) => (
            <div
              class:list={["site-pages__item", item.disabled ? "disabled" : ""]}
            >
              <a
                class="site-pages__link"
                href={item.link}
                set:html={item.name}
              />
              <div class="site-pages__status" set:html={item.status} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<style is:inline>
  .site-pages {
    padding-top: 6rem;
    padding-bottom: 10rem;
  }
  .site-pages__title {
    margin-top: 0;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E7E8E8;
    font-weight: 500;
    font-size: 3.6rem;
  }
  .site-pages__head {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    color: white;
    background: #7142BE;
  }
  @media (max-width: 575px) {
    .site-pages__head {
      grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    }
  }
  .site-pages__head > * {
    padding: 1rem 1.5rem;
  }
  @media (max-width: 575px) {
    .site-pages__head > div:nth-child(2) {
      display: none;
    }
  }
  .site-pages__item {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
  @media (max-width: 575px) {
    .site-pages__item {
      grid-template-columns: 100%;
      padding: 1rem 0;
    }
  }
  .site-pages__item:nth-child(2n) {
    background: #F0EAFA;
  }
  .site-pages__item > * {
    padding: 1rem 1.5rem;
  }
  @media (max-width: 575px) {
    .site-pages__item > * {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
  .site-pages__item.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  .site-pages__item.disabled .site-pages__link {
    opacity: 0;
  }
  .site-pages__link {
    width: fit-content;
    text-decoration: none;
    color: #7142BE;
  }
  .site-pages__link:hover {
    color: #9F7ADB  }
  @media (max-width: 575px) {
    .site-pages__link {
      order: 1;
    }
  }
  @media (max-width: 575px) {
    .site-pages__table {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }
  .site-pages__status {
    grid-row: span 2;
  }
</style>
