@use "@styles/mixins" as *;

$breakpoint-adaptive: pc;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;
    font-size: 87.5%;
    scroll-behavior: smooth;

    @include media-min(mob) {
        font-size: 100%;
    }
}

body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

p {
	margin: 0 0 1.5em;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $color-accent;
	transition: $duration ease;

    &:hover {
        color: $color-accent;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

button {
	appearance: none;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	font-family: inherit;
	font-size: inherit;
	color: $color-base;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}

img {
	max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
    overflow-x: clip;
	min-width: 350px;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
	width: 100%;
    padding-top: $space;
    padding-bottom: $space;

    &__title {
        margin-bottom: 0;
    }
}

.lootery-section {
    padding-top: calc($space-section * .5);
    padding-bottom: calc($space-section * .5);

    &__title {
        text-align: center;
        font-size: 24px;
        line-height: 1;
        font-weight: 700;

        @include media-min(mob-md) {
            font-size: 36px;
        }

        @include media-min(mob) {
            font-size: 4rem;
        }
    }
}

::selection {
    background: $color-accent;
	color: $color-white;
}

a, button, select {
	&:focus-visible {
        outline: 2px solid $color-accent;
        outline-offset: 3px;
	}
}


.lootery {
    padding-top: $space;
    padding-bottom: $space;
    background-color: $base-background;
    border-top: #e4e4e4 1px solid;
    border-bottom: #e4e4e4 1px solid;
    margin-top: -1px;
    margin-bottom: -1px;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $text-size;
    line-height: $base-line-height;
    color: $color-base;
}
