@use "@styles/mixins" as *;

.form {
    &__text {
        margin-top: .25rem;

        a {
            color: $color-accent;
            text-decoration: none;

            &:hover {
                color: $color-accent-hover;
            }
        }

        strong {
            font-weight: 600;
        }
    }

    &__button {
        margin-top: 4px;
    }

    &__label {
        margin-bottom: $space-sm;
        font-size: 14px;
        color: $color-grey-all;
    }

    &__check-group {
        @include media-min(mob-md) {
            display: grid;
            gap: 12px;
        }

        @include media(mob-md) {
            .form__group {
                border-bottom: $color-line 1px solid;
            }

            .ui-checkbox {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
